@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.logo{
    width: 80px;
    height: 70px;
}

.logo-img{
    width: 68px;
    height: 68px;
}

.logo-text{
    font-size: 1.8rem;
    font-weight: normal;
    height: 100%;
    text-align: center;
    /* color: #fff; */
    color: #000;
    line-height: 70px;
    padding: 0 20px;
}

.nav{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* background: #393185; */
    background: white;
}

.nav .navbar{
    height: 100%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}

.nav .navbar .logo-text .logo-text .nav-links{
    justify-content: space-between;
}

.nav .navbar .nav-links .links{
    display: flex;
}

.nav .navbar .nav-links .links .nav-items{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

.nav .navbar .nav-links .links .nav-items .item-links{
    height: 100%;
    /* color: #fff; */
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    font-size: 500;
    transition: all 0.5s ease;
}

.nav .navbar .nav-links .links .nav-items i{
    height: 100%;
    width: 22px;
    text-align: center;
    /* color: #fff; */
    color: #000;
    line-height: 70px;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}

.navbar .nav-links .links .nav-items:hover i{
    transform: rotate(180deg);
}
.navbar .nav-links .links .nav-items .item-links:hover{
    font-size: 1.1rem;
    font-weight: bolder;
    color: #393185;
}
.navbar .nav-links .links .dropdown-content{
    position: absolute;
    top: 65px;
    left: 15px;
    background-color: white;
    /* background: #393185; */
    line-height: 40px;
    list-style: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    display: none;
    transition: all 0.4s ease;
}
.navbar .nav-links .links .dropdown-content .dropdown-text{
    padding: 0 25px;
}
.navbar .nav-links .links .dropdown-content .dropdown-text .dropdown-link{
    text-decoration: none;
    /* color: #fff; */
    color: #000;
    font-size: 15px;
    font: 500;
}

.navbar .nav-links .links .nav-items:hover .dropdown-content{
    display: block;
}

.navbar .bx-menu{
    display: none;
}
.nav-links .sidebar-logo .bx-x{
    display: none;
}

/* @media (max-width:1300px) {
    .nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }
    .nav .navbar .nav-links .links .nav-items{
        padding: 0 10px;

    }
    .nav .navbar .nav-links .links .nav-items .item-links{
        font-size: 0.9rem;
    }
} */

.btn-contact {
    padding: 9px 20px;
    /* background-color: rgb(9, 173, 214); */
    background-color: rgb(139, 198, 243);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1rem;
}

.btn-contact:hover {
    background-color: rgb(68, 163, 236);
}


@media (max-width:1025px) {
    .nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }
    .nav .navbar .nav-links .links .nav-items{
        padding: 0 10px;

    }
    .nav .navbar .nav-links .links .nav-items .item-links{
        font-size: 0.9rem;
    }
}

@media (max-width:1300px){
    .nav .navbar .nav-links{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        max-width: 1400px;
        width: 100%;
        background: white;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
    }
    .nav .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* .nav-links .sidebar-logo .responsive-logo{
        width: 55px;
        height: 55px;
    } */
    .navbar .bx-menu{
        display: block;
    }
    .nav-links .sidebar-logo .bx-x{
        display: block;
    }
    .navbar .bx-menu{
        font-size: 30px;
        font-weight: 600;
    }
    .nav-links .sidebar-logo .bx-x{
        margin: 0 90%;
        padding: 0%;
        font-size: 30px;
        font-weight: 600;
    }
    .nav .navbar .nav-links .links{
        display: block;
        margin-top: 5px;
        text-align: center;
        justify-content: center;
    }
    .nav .navbar .nav-links .links .nav-items{
        display: block;
        text-align: center;
        justify-content: center;
    }
    .navbar .nav-links .links .sub-menu{
        position: relative;
        top: 0;
        left: 0;
        display: none;
        box-shadow: none;
    }
    .navbar .nav-links .links .nav-items:hover .dropdown-content{
        display: none;
    }
    .nav .navbar .nav-links .links .nav-items i{
        line-height: 40px;
    }
    .navbar .nav-links .links .nav-items:hover i{
        transform: rotate(0deg);
    }
    .navbar .nav-links.show1 .links .sub-menu.dropdown-content{
        display: block;
    }
    .navbar .nav-links.show1 .links .nav-items i{
        transform: rotate(180deg);
    }
}


/* Content */
section{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section .heading{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
} */

.partners-head{
    font-size: 2.5rem;
    margin: 10px 0px 10px 0px;
    color: #393185;
}

hr{
    width: 100%;
    border:solid 3.5px;
    animation: Slide_right 1.4s ease;
    color: #393185;
    background-color: #393185;
    margin: auto;
}

@keyframes Slide_right {
    0% {
        transform: translateX(-250px);
    }
    100% {
        transform: translateX(0px);
    }
}

section .partners{
    margin-top: 30px;
}

section .partners .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 0px;
    background: #fff;
    border-radius: 20px;
    background: #fff;
    box-shadow:  39px 39px 78px #b5b5b5,
                -39px -39px 78px #ffffff;
}

section .partners .container:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

section .partners .container .img{
    width: 25%;
    margin-right: 30px;
}

section .partners .container .img img{
    width: 100%;
}

section .partners .content{
    width: 70%;
    font-size: 20px;
    line-height: 30px;
}

@media (max-width: 1100px)
{
    section{
        width: 90%;
    }

    section .partners .container
    {
        flex-direction: column;
        flex-wrap: nowrap;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    section .partners .container .content{
        width: 90%;
    }

    section .partners .container .img{
        margin-bottom: 30px;
    }

    section .partners .content{
        line-height: normal;
    }
}

@media (max-width: 650px)
{
    section .partners .container .img{
        margin-bottom: 10px;
        width: 50%;
    }

    section .partners .container{
        margin-left: 0px;
        margin-right: 0px;
    }
}

